<%- include('_layouts/header'); -%>

    <h1>Create new post</h1>

    <form method="post" action="/posts/create" enctype="multipart/form-data">
        <div class="form-group pt-3">
            <label>Title</label>
            <input type="text" class="form-control" name="title"></input>
        </div>
        <div class="form-group pt-3">
            <label>Body</label>
            <textarea rows="5" class="form-control" name="body"></textarea>
        </div>
        <div class="form-group pt-3">
            <label>Image</label>
            <input type="file" class="form-control" name="image"></input>
        </div>
        <button type="submit" class="btn btn-primary mt-4" id="addPost">Add post</button>
        </div>
    </form>

<%- include('_layouts/footer'); -%>