<%- include('_layouts/header'); -%>


    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1>Log in</h1>

            <form method="post" action="/users/login">
                <div class="form-group pt-3">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username"></input>
                </div>
                <div class="form-group pt-3">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password"></input>
                </div>
                <button type="submit" class="btn btn-primary mt-4" id="addPost">Log in</button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>


    <%- include('_layouts/footer'); -%>